<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/usuarios"></ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ usuario.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ usuario.c_tipo_id }}</h2> <br>
      <h2>{{ usuario.edad }}</h2> <br>
      <h2>{{ usuario.localidad }}</h2> <br>
    </ion-card-content>
  </ion-card>


</ion-content>

