<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesionales"></ion-back-button>
    </ion-buttons>
    <ion-title>Profesional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ profesional.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ profesional.c_clinica_id }}</h2> <br>
      <h2>{{ profesional.telefono }}</h2> <br>
      <h2>{{ profesional.correo }}</h2> <br>
      <h2>{{ profesional.localidad }}</h2> <br>
    </ion-card-content>
  </ion-card>


</ion-content>

