<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/estados"></ion-back-button>
    </ion-buttons>
    <ion-title>Estado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ estado.id }}</ion-card-subtitle>
      <ion-card-title>{{ estado.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ estado.descripcion }}
    </ion-card-content>
  </ion-card>

</ion-content>

