<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item [routerLink]="['/tipos']" >Tipo </ion-item>
      <ion-item [routerLink]="['/estados']">Estado</ion-item>
      <ion-item [routerLink]="['/clinicas']">Clinica</ion-item>
      <ion-item [routerLink]="['/profesionales']">Profesional</ion-item>
      <ion-item [routerLink]="['/usuarios']">Usuarios</ion-item>
      <ion-item [routerLink]="['/estudiantes']">Estudiantes</ion-item>
      <ion-item [routerLink]="['/casos']">Casos</ion-item>
      <ion-item [routerLink]="['/boletines']">Boletines</ion-item>
      <ion-item>
       <ion-button (click)="logout()">
         <ion-icon slot="icon-only" name="add"></ion-icon>
       </ion-button>
      </ion-item>
      
    
    </ion-list>
  </ion-content>
</ion-menu>
